<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <style>{{ .Css | SafeCss }}</style>
</head>
<body>
<header>
    {{.Title}} Login
</header>

<p><center>

<form id="id_form_login">
  <input type="hidden" name="action" value="login" />
  <div>User Name</div>
  <input type="text" id="id_username" name="username" minlength="3" maxlength="12" placeholder="user name"><br>
  <div>Password</div>
  <input type="password" id="id_password" name="password"  minlength="3" maxlength="16" placeholder="password"> <br>
  <br>
  <button type="submit" form="id_form_login">Login</button>
</form>
</center></p>

</body>
</html>
